language: cpp
sudo: required
dist: trusty
compiler:
- g++
os:
- linux
python: 2.7.12
before_install:
- echo $LANG
- echo $LC_ALL
before_script:
- sudo apt-get update
- sudo apt-get install qtbase5-dev
- sudo apt-get install libboost-dev
- sudo apt-get install libboost-python-dev
script: cmake . && make
