language: cpp
sudo: required
dist: trusty
compiler:
- g++
os:
- linux
- osx
python: 2.7.12
before_install:
- echo $LANG
- echo $LC_ALL
before_script:
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update                      ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install qtbase5-dev         ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install libboost-dev        ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install libboost-python-dev ; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update                             ; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew upgrade cmake                         ; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install qt5                        ; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install python                     ; fi
  #- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install boost --with-python        ; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install boost-python               ; fi

script: 
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cmake . && make                       ;fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sh CMakeOSX.sh                          ;fi
